aiodns
aiohttp==3.9.5
aiosignal
allure-pytest
async-timeout
attrs
boto3
botocore
Brotli
cffi
charset-normalizer
click
colorama
Deprecated
distro
file-magic
frozenlist
geomet
humanfriendly
idna
iniconfig
Jinja2
jmespath
MarkupSafe
meson
multidict
numpy
packaging
pluggy
ply
psutil
pycares
pycparser
pyelftools
pyparsing
PySocks
pytest==7.2.2
pytest-asyncio==0.20.3
python-dateutil
pyudev
PyYAML
redis
requests
s3transfer
scylla-api-client
scylla-driver
six
systemd-python
tabulate
traceback-with-variables
treelib
unidiff
urllib3
urwid
wcwidth
wrapt
yarl
