[submodule "seastar"]
	path = seastar
	url = ../scylla-seastar
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = ../scylla-swagger-ui
	ignore = dirty
[submodule "xxHash"]
	path = xxHash
	url = ../xxHash
[submodule "libdeflate"]
	path = libdeflate
	url = ../libdeflate
[submodule "zstd"]
	path = zstd
	url = ../zstd
