/* Override theme styles */

/* Home */
.topic-box--product p {
    margin-bottom: 0;
}

@media screen and (min-width: 640px) {
    .hero__title {
        max-width: 550px;
    }
}

/* Description lists */ 
.content blockquote {
    padding-left: 20px;
}

.content blockquote li p {
    margin-bottom: 10px;
}

h2 .pre {
    font-size: 16px;
    font-weight: bold;
}