.. -*- mode: rst -*-

{% for group in data %}
{% if group.value_status_count[value_status] > 0 %}
{{ group.name }}
{{ '-' * (group.name|length) }}

{% if group.description %}
.. raw:: html

   <p>{{ group.description }}</p>
{% endif %}

{% for item in group.properties %}
{% if item.value_status == value_status %}
{{ item.name }}
{{ '=' * (item.name|length) }}

   .. raw:: html

      <p>{{ item.description }}</p>

   {% if item.type %}* **Type:** ``{{ item.type }}``{% endif %}
   {% if item.default %}* **Default value:** ``{{ item.default }}``{% endif %}
   {% if item.liveness %}* **Liveness** :term:`* <Liveness>` **:** ``{{ item.liveness }}``{% endif %}

.. raw:: html

   <hr/>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
