.. -*- mode: rst -*-

{% for group in data %}
{% if group.value_status_count[value_status] > 0 %}
{{ group.name }}
{{ '-' * (group.name|length) }}

{% if group.description %}
.. raw:: html

   <p>{{ group.description }}</p>
{% endif %}

{% for item in group.properties %}
{% if item.value_status == value_status %}
.. confval:: {{ item.name }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
