name: codespell
on:
  pull_request:
    branches:
      - master
permissions: {}
jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@master
        with:
          only_warn: 1
          ignore_words_list: "ans,datas,fo,ser,ue,crate,nd,reenable,strat,stap,te"
          skip: "./.git,./build,./tools,*.js,*.thrift,*.lock,./test,./licenses,./redis/lolwut.cc,*.svg"
